
:root{
    /*Colors*/

    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-5: hsl(0, 0%, 42%);
    --gray-9: hsl(0, 0%, 7%);
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

main{
    height: 500px;
    width: 380px;
    background-color: var(--white);
    border-radius: 25px;
    box-shadow: 10px 10px ;
    border: 2px solid black;
    }

.photo{
    margin-top: 20px;
    border-radius: 10px;
}